html {
  font-size: 100%;
}

body {
  padding: 2rem;
  font-family: Georgia, serif;
  line-height: 1.3;
  background: #e8ecd3;
}

h1 {
}

.my-element {
  margin-left: 10px;
  margin-right: 10px;

  /* shorthand */
  /*      top-down  left-right */
  margin: 5px 10px;

  /*      top left/right  down */
  margin: 5px 10px 7px;

  /*      top right down left */
  margin: 5px 6px 7px 8px;
}

.indent {
  text-indent: 1.5rem;
}

img {
  max-width: 200px;
  margin-right: 20px;
}

.filter {
  /* filter: drop-shadow(5px 5px 5px orange); */
  /* filter: grayscale(100);*/
  /* filter: brightness(10%); */
  /* filter: invert(); */
  /* filter: sepia(); */
  /* filter: blur(4px); */
}
